.ytrc--root {
	outline: 5px solid red;

	> .ytrc--tabBar {
		overflow: auto;
		white-space: nowrap;

		> .ytrc--tabHeader {
			color: var(--yt-spec-text-primary);
			cursor: pointer;
			display: inline-block;
			margin-right: 10px;
			max-width: 120px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	> .ytrc--tabContainer {
		> .ytrc--tabContentWrapper {
			display: none;
			&.ytrc--active {
				display: block;
			}

			> .ytrc--post {
				font-size: 24px;
				color: var(--yt-spec-text-primary);

				.ytrc--post--title {
					color: var(--yt-spec-text-primary);
					display: block;
					margin: 10px;
					text-decoration: none;
				}

				.ytrc--comment {
					> .ytrc--comment--more {
						font-size: x-small;
						font-weight: bold;
					}
					> .ytrc--comment--head {
						> .ytrc--comment--toggle {
							font-family: Verdana;
							font-size: x-small;
							cursor: pointer;
						}
						> .ytrc--comment--user {
							color: rgb(51,102,153);
							margin: 0 5px;
							font-weight: bold;
							font-size: x-small;
						}
						> .ytrc--comment--info {
							font-size: x-small;
							color: rgb(136,136,136);
						}
					}

					> .ytrc--comment--body {
						padding-left: 20px;
						&.ytrc--comment--collapsed {
							display: none;
						}
						> .ytrc--comment--commentBody {
							word-wrap: break-word;
							margin-bottom: 10px;
							font-size: 1.4rem;
						}
					}
				}
			}
		}
	}
}